<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>

</head>
<body>
<h1 class="title" th:text="${message}"></h1>

<form th:action="@{search-by-name}">
    <input type="text" id="name" name="name">
    <input type="submit" value="Search By Name">
</form>

<div>
    <div th:each="product,iterStat : ${products}" th:class="${iterStat.odd}? 'odd'">
        <div class="product-item">
            <p th:text="${product.id}"></p>
            <p th:text="${product.name}"></p>
            <p th:text="${product.price}"></p>
            <p><a th:href="@{/product/edit-product/__${product.id}__}">Edit</a></p>
            <p><a th:href="@{'https://vnexpress.net/'}">Delete</a></p>
            <p><a th:href="@{/product/shoppingcart/ordernow/__${product.id}__}">OrderNow</a></p>
        </div>
    </div>
</div>

</body>
</html>